.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
}

.Logo {
  font-family: sans-serif;
}

@media (max-width: 425px) {
  .Header {
    padding: 0 5%;
  }

  h1 {
    font-size: 1rem;
  }
}
